
*{
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root[data-theme="light"] {
    --text-body: #091511;
    --text-secondary: #eaf6f2;
    --background: #dce6ea;
    --primary: #00aaff;
    --secondary: #003e6b;
    --accent: #43b536;
    
  }
  :root[data-theme="dark"] {
    --text-body: #eaf6f2;
    --text-secondary: #091511;
    --background: #0f2124;
    --primary: #3dc2ff;
    --secondary: #0d4873;
    --accent: #43b536;
  }
body {
    background: var(--background);
    color: var(--text-body);
    font-family: 'Rubik', sans-serif;
}

/* Typeography */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Gabarito', sans-serif;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.hero__name {
    font-size: 3rem;
    background: linear-gradient(var(--primary), var(--accent));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__tag {
    font-size: 4rem;
    margin-left: 30px;
    background: linear-gradient(to right,var(--accent), var(--secondary));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Hero Banner */

.hero--banner p {
    font-family: 'Syne', sans-serif;
    font-size: 2.5rem;
}