
*{
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root[data-theme="light"] {
    --text-body: #091511;
    --text-secondary: #eaf6f2;
    --background: #dce6ea;
    --primary: #00aaff;
    --secondary: #003E6B;
    --accent: #43b536;
    
  }
  :root[data-theme="dark"] {
    --text-body: #eaf6f2;
    --text-secondary: #091511;
    --background: #0f2124;
    --primary: #3dc2ff;
    --secondary: #0D4873;
    --accent: #43b536;
  }
body {
    background: var(--background);
    color: var(--text-body);
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Typeography */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Gabarito', sans-serif;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
    margin: 0;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.hero__name {
    font-size: 3rem;
    background: linear-gradient(var(--primary), var(--accent));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__tag {
    font-size: 4rem;
    margin-left: 30px;
    background: linear-gradient(to right,var(--accent), var(--secondary));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero .dock__btn {
    position: absolute;
    right: 0;
}

/* Hero Banner */
.hero-banner__img {
    display: none;
}

.hero-banner__text {
    font-family: 'Syne', sans-serif;
    font-size: 2.5rem;
    margin: 20px 0;
    padding: 0 10px;
    max-width: 800px;
}

@media screen and (min-width: 720px) {
    .hero-banner {
        display: flex;
        justify-content: space-evenly;
        margin: 100px 0;
        align-items: center;
    }

    .hero-banner__text {
        width: 60%;
        font-size: 2.5rem;
    }

    .hero-banner__img {
        display: block;
        background: var(--accent);
        border: 1px solid var(--secondary);
        border-radius: 20px;
        width: 30%;
        height: 320px;
    }
}

@media screen and (min-width: 1200px) {

    .hero-banner__text {
        width: 50%;
        font-size: 3.5rem;
    }

    .hero-banner__img {
        display: block;
        background: var(--accent);
        border: 1px solid var(--secondary);
        border-radius: 20px;
        width: 30%;
        height: 320px;
    }
}

/* Articles */
.article-container {
    display: grid;
    justify-items: center; 
}

.article {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid var(--primary);
    margin: 10px 0;
    max-width: 600px;
}

.article__date {
    position: absolute;
    font-size: 1.5rem;
    right: 20px;
    color: var(--accent);
}

.article__background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: var(--secondary);
    opacity: .2;
}

.article__name, .article__desc {
    padding: 10px;
}

.article__desc {
    background: rgba(255, 255, 255, .3);
    margin: 0;
    border-top: 2px solid var(--primary);
    font-size: 2rem;
    color: var(--accent);
}

.article__starter {
    padding: 0 10px 10px;
    opacity: .7;
}

@media screen and (min-width: 720px) {
    .article-container {
        grid-template-columns: 50% 50%;
    }
}

/* Footer */
.footer {
    bottom: 0;
    width: 100%;
    background-color: var(--primary);
    height: 4rem;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__text {
    font-size: 2rem;
    text-decoration: none;
    color: var(--text-body);
}

.footer__text--link {
    margin-left: 10px;
    color: var(--secondary);
}

/* Dock */

.dock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--secondary);
    box-shadow: 0 0 50px var(--accent);
    z-index: 2;
}

.dock__title {
    justify-self: start;
    margin-left: 20px;
}

.dock__btn-group {
    display: flex;
}

.dock__btn {
    width: 4rem;
    height: 4rem;
    background-color: var(--primary);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: var(--secondary);
    margin: 10px;
}
.fixed {
    position: fixed;
}
.hidden {
    display: none;
}